.info{
    position: absolute;
    bottom: 0;
    display:flex;
    margin-bottom: 40px;
    margin-left : 22px;
    width: 80%;
    height: 110px;    
    color: white;  
    flex-direction: column;    
}

.divsound{
  display: inline-block;
  margin-top: 20px;
}

.sound{
  width: 16px;
  height: 16px;
  padding-left: 5px;
}

.idname{
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
}

.caption{
  
}